#banner-heading {
    background-image: url("../images/background-images/current-events.jpeg");
}

.two-col-container {
    align-items: center;
}

h3 {
    font-family: 'FinkHeavy', serif;
    color: #d3d0e9;
}

@media screen and (max-width: 430px) {
    #banner-heading{
        background-image: url("../images/background-images/current-events-mobile.jpeg");
        background-size: 130%;
    }
}