#banner-heading {
    background-image: url("../images/background-images/visit.jpeg");
}

#visitor-request-form {
    width: 60%;
    min-width: fit-content;
    padding: 1em 2em;
    text-align: center;
    background: url("../images/background-images/wavecut.png") rgba(8, 7, 17, 0.8);
    margin: 1em auto;
    color: #D7EBF4;
}

a {
    color: #D7EBF4;
}

#visitor-request-form > p {
    max-width: 30em;
    margin: 1em auto;
    text-align: justify;
}

form {
    margin: 1em auto;
    text-align: left;
    max-width: 25em;
    width: fit-content;
}

label, input {
    display: block;
}

input[type=text] {
    padding: 0.5em;
    width: 25em;
}

textarea {
    padding: 0.5em;
    width: 25em;
}

.field {
    margin: 0.5em auto;
}

#submit-area {
    text-align: center;
}

#submit-area > h3 {
    font-family: 'FinkHeavy', serif;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

button, input[type="submit"]{
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background: url("../images/icons-and-logos/visit-moon-isle-logo.png") center no-repeat;
    background-size: 150px;
    width: 150px;
    height: 150px;
    margin: 0.5em auto;
}