#banner-heading {
    background-position: top;
}

.item > p {
    text-align: justify;
}

.item.big > p {
    text-align: center;
}
div.item > a{
    display: block;
    margin-top: 0.5em;
}

@media screen and (max-width: 430px) {
    #banner-heading{
        background-image: url("../images/background-images/welcome-mobile.JPG");
        background-size: 120%;
    }
}