#banner-heading {
    background-position: top;
}

.item > p {
    text-align: justify;
}

.item.big > p {
    text-align: center;
}

.item > a {
    color: #bab8c3;
    text-decoration: none;
}

.item > a:hover, p > a:hover {
    color: #d3d0e9;
}

@media screen and (max-width: 430px) {
    #banner-heading{
        background-image: url("../images/background-images/welcome-mobile.JPG");
        background-size: 120%;
    }
}