#banner-heading {
    background: url("../images/background-images/group-photo.jpeg") center;
}

.item > table {
    margin: 0 auto;
    width: 80%;
}

thead > tr > td {
    font-family: 'FinkHeavy', serif;
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
    background: rgba(38, 32, 73, 0.5);
    border: 5px double #99ADB6;
}


tbody > tr > td {
    padding: 0.5em;
    border: #99ADB6 solid 2px;
}

tbody > tr > :first-child {
    font-family: 'FinkHeavy', serif;
    font-size: 1.2em;
    text-align: right;
    background: rgba(38, 32, 73, 0.5);
    border-bottom-left-radius: 20%;
    border-top-left-radius: 20%;
}

tbody > tr > :nth-child(2) {
    background: rgba(38, 32, 73, 0.3);
    border-bottom-right-radius: 20%;
    border-top-right-radius: 20%;
}

#animated {
    width: 100%;
}

#ready:hover + #plane {
    animation-name: myanimation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#plane {
    height: 50px;
    float: left;
}

#ready {
    text-decoration: none;
    font-family: 'FinkHeavy', serif;
    font-size: 1.5em;
    display: block;
    color: #bab8c3;
    margin-bottom: 1em;
}

#ready:hover {
    color: #d3d0e9;
}

@keyframes myanimation {
    from {
        margin-right: 0;
    }

    to {
        margin-left: 90%;
    }
}
