#banner-heading {
    background-image: url("../images/museum-related/women-love-me-fish-fear-me.jpeg");
}
@media screen and (max-width: 430px) {
    #banner-heading{
        background-image: url("../images/museum-related/women-love-me-fish-fear-me-mobile.jpeg");
        background-size: 130%;
    }
}