#banner-heading {
    background-image: url("../images/background-images/shopping.JPG");
}

.shop-hours {
    font-family: 'FinkHeavy', serif;
    font-size: 1.2em;
    color: #BFD7E2;
}

i {
    color: #BFD7E2;
}

@media screen and (max-width: 430px) {
    #banner-heading{
        background-image: url("../images/background-images/shopping-mobile.JPG");
        background-size: 130%;
    }
}