/* * * * * * * * * * * * * * * * * * * * * * * * * *
 * Styles on every page
 * * * * * * * * * * * * * * * * * * * * * * * * * */
@font-face {
    font-family: 'FinkHeavy';
    src: url('../fonts/FinkHeavy.woff') format('woff2'),
    url('../fonts/FinkHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    background: url('../images/background-images/ac-background.jpg') repeat #A8A6B1;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
}

img.mobile {
    display: none;
    visibility: hidden;
}

/* Header & Logo */
header {
    max-width: 1280px;
    width: 100%;
    z-index: 2;
}

#banner-logo {
    background: url("../images/icons-and-logos/moon-isle-header.jpg") center no-repeat;
}

#logo {
    max-width: 500px;
    width: 100%;
}

/* Navigation */
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    background: url("../images/background-images/wavecut.png") rgba(8, 7, 17, 0.8);
    padding-top: 1em;
    margin: 0 auto;
    width: fit-content;
    height: 6em;
}

nav a {
    display: block;
    padding: 1.25em;
    margin-bottom: 2em;
    margin-right: 0.75em;
    margin-left: 0.75em;
    background: url("../images/background-images/mocha-grunge.png") #141126;
    font-family: 'FinkHeavy', serif;
    font-size: 1.2em;
    text-decoration: none;
    color: #D7EBF4;
    z-index: 6;
}

nav a:hover{
    background-color: #262049;
}

nav a.selected {
    background-color: #040307;
    cursor: default;
}

#show-nav {
    display: none;
    visibility: hidden;
}

/* Page banner header */
#banner-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/background-images/welcome.JPG");
    height: 600px;
    margin-bottom: 0;
}

#banner-heading > h1 {
    background: rgba(0, 0, 0, 0.5);
    margin-top: 0;
    justify-self: flex-start;
}

#banner-heading > h2 {
    background: rgba(0, 0, 0, 0.3);
    justify-self: flex-end;
    margin-bottom: 0;
    padding: 0.2em;
    color: #D7EBF4;
}

h1 {
    font-family: 'FinkHeavy', serif;
    font-size: 5em;
    color: #BFD7E2;
}

.fancy {
    font-family: 'Morga', cursive;
    font-weight: lighter;
    font-size: 0.5em;
}

/* Page content */
#content {
    z-index: 5;
    margin-top: 0;
    width: 100%;
    max-width: 1280px;
    color: #D7EBF4;
    font-family: 'Open Sans', sans-serif;
}

/* Footer */
footer {
    width: 100%;
    max-width: 1280px;
    color: #c6d8e0;
    font-family: 'FinkHeavy', serif;
    background: url("../images/background-images/ocean.png");
    height: 100px;
}

footer > p {
    margin-top: 75px;
}

#copyright > a {
    color: #babecf;
}

#copyright > a:hover {
    color: #dde1f5;
}

/* General common styles */
h2 {
    font-family: 'FinkHeavy', serif;
    text-align: center;
    color: #BFD7E2;
}

/* Three column layout */
.three-col-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
}

.three-col-container > div {
    flex: 0 30%;
}

.three-col-container > div.big {
    flex: 0 60%;
}
.three-col-container > div.extra-big {
    flex: 0 100%;
}

.item.big {
    text-align: center;
}

.item {
    width: 100%;
    padding: 1em;
    text-align: center;
    background: url("../images/background-images/wavecut.png") rgba(8, 7, 17, 0.8);
    margin-top: 1em;
    margin-bottom: 1em;
    color: #D7EBF4;
}

.item > img {
    width: 100%;
}

.item > a, p > a {
    color: #bab8c3;
    text-decoration: none;
}

.item > a:hover, p > a:hover {
    color: #d3d0e9;
}

/* Two column layout */
.two-col-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
}

.two-col-container > div {
    flex: 0 45%;
}

.two-col-container > div.big {
    flex: 0 60%
}

.two-col-container > div.small {
    flex: 0 30%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * *
 * Responsive styles
 * * * * * * * * * * * * * * * * * * * * * * * * * */
@media screen and (max-width: 1150px) {
    nav {
        justify-content: space-around;
        width: 100%;
    }
    nav a {
        margin-right: 0;
        margin-left: 0;
    }
    div.single {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    #logo {
        max-width: 450px;
    }
    .three-col-container > div {
        flex: 0 45%;
    }
    .three-col-container > div.big {
        flex: 0 100%;
    }
    .reposition {
        order: -1;
    }
    .two-col-container > div {
        flex: 0 80%;
    }
}

@media screen and (max-width: 970px) {
    header {
        position: relative;
    }
    #logo {
        max-width: 400px;
        margin-top: -2em;
        margin-bottom: 0;
        float: left;
    }
    #banner-logo {
        height: 350px;
        margin-top: 2em;
    }
    #banner-heading {
        clear: left;
        padding-top: 0;
    }
    nav {
        justify-content: center;
        position: absolute;
        width: 55%;
        top: 10%;
        right: 0;
        background: none;
        height: unset;
        padding-top: 0;
    }
    nav a {
        margin-right: 0.25em;
        margin-left: 0.25em;
        margin-bottom: 0.5em;
    }
}

@media screen and (max-width: 885px) {
    #logo {
        max-width: 350px;
    }
    #banner-logo {
        height: 300px;
    }
    #banner-heading {
        height: 400px;
        background-size: 100%;
        padding-top: 0;
    }
    h1 {
        font-size: 4em;
    }
}

@media screen and (max-width: 775px) {
    #banner-heading {
        height: 400px;
        background-position: center;
        background-size: 120%;
        padding-top: 0;
        margin-top: 1em;
    }
    nav {
        justify-content: flex-end;
        width: 50%;
        top: 5%;
        margin-right: 0.5em;
        margin-top: 0.5em;
    }
    nav a {
        margin-right: 0.2em;
        margin-left: 0.2em;
        margin-bottom: 0.25em;
    }
}

@media screen and (max-width: 700px) {
    #logo {
        float: unset;
        padding-top: 0.5em;
    }
    #banner-logo {
        height: 425px;
    }
    #show-nav {
        position: relative;
        visibility: unset;
        border: none;
        padding: 1.25em 1.25em 1em;
        margin: 0.75em auto 0 auto;
        width: 95%;
        text-align: center;
        display: block;
        background: url("../images/background-images/mocha-grunge.png") rgba(20, 17, 38, 0.3);
        font-family: 'FinkHeavy', serif;
        font-size: 1.2em;
        color: #D7EBF4;
        vertical-align: middle;
    }
    #show-nav > img {
        position: absolute;
        right: 1em;
        top: 1em;
        width: 1.5em;
    }
    nav {
        flex-direction: row;
        width: 100%;
        position: unset;
        padding-top: 0.5em;
        align-items: center;
        margin: -0.25em auto 0 auto;
        justify-content: center;
        background: url("../images/background-images/wavecut.png") #141126;
    }
    nav a {
        flex: 1 35%;
        margin: 0.5em;
    }
    nav.hidden {
        visibility: hidden;
        display: none;
    }
    .two-col-container > div.item {
        flex: 0 95%;
    }
    .three-col-container > div.item {
        flex: 0 80%;
    }
    .three-col-container > div.item.big {
        flex: 0 100%;
    }
}

@media screen and (max-width: 610px) {
    #banner-heading {
        background-size: 130%;
        height: 350px;
    }
    h1 {
        font-size: 3.5em;
    }
    #banner-heading > h2 {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 500px) {
    #banner-heading {
        background-size: 130%;
        height: 300px;
    }
    h1 {
        font-size: 3.5em;
    }
    #banner-heading > h2 {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 430px) {
    #banner-heading {
        height: 425px;
        background-size: unset;
    }
    h1 {
        font-size: 3.5em;
    }
    #banner-heading > h2 {
        font-size: 1.25em;
    }
    .two-col-container > div.item {
        flex: 0 100%;
    }
    .three-col-container > div.item {
        flex: 0 90%;
    }
    .three-col-container > div.item.big {
        flex: 0 100%;
    }
    img.responsive {
        display: none;
        visibility: hidden;
    }
    img.mobile {
        display: block;
        visibility: unset;
    }
}

@media screen and (max-width: 350px) {
    #banner-heading {
        height: 350px;
    }
    #banner-logo {
        height: 400px;
    }
}

@media screen and (max-width: 300px) {
    #banner-heading {
        height: 300px;
    }
    #banner-logo {
        height: 375px;
    }
    nav {
        margin-top: -1.5em;
    }
}
